
# build directory
BUILD/
RPMS/
SRPMS/
SOURCES/
SPECS/


*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# ignore binaries files
src/spl/spl-0.*.tar.gz
src/zfs/zfs-0.*.tar.gz
